:root {
	--bg: #242424;
	--bg-accent: #5c5c5c;
	--text: #e0e0e0;
	--text-accent: #5c5c5c;
	--color: #5FB95F;
	--color-accent: #46CD50;
	--alt: #046ABC;
	--alt-accent: #1594DA;
	--nav-size: 10vh;
	--main-size: 90vh;
	--footer-size: 25vh;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-accent);
	color: var(--text);
	font-family: 'Rockwell';
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
